In [1]:
import pandas as pd

In [75]:
df = pd.read_csv('../data/tokens_holders.csv')
df['token_address'] = 'test'
df.drop(df.columns[5:], axis=1, inplace=True)

df.head()

,rank,address,qty,percentage,value
0,"('1', None)",0x5041ed759dd4afc3a72b8192c143f72f4724081a,"2,336,201,834.85859",5.7791,"2,336,201,834.86"
1,"('2', None)",0xf977814e90da44bfa03b6295a0616a897441acec,"1,700,000,000",4.2053,"1,700,000,000.00"
2,"('3', None)",0x47ac0fb4f2d84898e4d9e7b4dab3c24507a6d503,"1,250,000,115.495224",3.0921,"1,250,000,115.50"
3,"('4', None)",0x5754284f345afc66a98fbb0a0afe71e0f007b949,"1,161,543,043.567473",2.8733,"1,161,543,043.57"
4,"('5', None)",0xd6216fc19db775df9774a6e33526131da7d19a2c,"1,000,664,634.348583",2.4754,"1,000,664,634.35"

In [61]:
tokens = pd.read_csv('../data/tokens.csv')
tokens_addresses = tokens[tokens['address'].notnull()]
tokens_addresses.reset_index(inplace=True, drop=True)
tokens_addresses = tokens_addresses[['symbol', 'address']]
tokens_addresses = tokens_addresses.loc[0:2]

tokens_addresses.iloc[2]['address']

'0x418d75f65a02b3d53b2418fb8e1fe493759c7605'